<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Logowanie</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
</head>
<body>

<h3 style="margin-left: auto; margin-right: auto; width: 15%; margin-top: 10%">Logowanie</h3>

<form style="text-align: center" action="/login" method="post">

    <div style="margin-top: 3%; margin-left: 40%; margin-right: 40%">
    Nazwa użytkownika: <br/>
    <div class="form-group">
    <input class="form-control"  type="text" name="username"/>
    </div>
    Hasło: <br/>
    <div class="form-group">
    <input class="form-control" type="password" name="password"/>
    </div>
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" /><br/>
    <input class="btn btn-primary" style=" width: 60%" type="submit" value="Zaloguj" />
    </div>
</form>

</body>
</html>