<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Logowanie</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
</head>
<body>
<h3>Zmiana hasła</h3>
<form th:action="@{/haslo}" method="post" th:object="${user}">
    Wpisz nowe hasło:
    <input type="password" th:field="*{password}"/>
    <input type="submit" value="Zapisz"/>

</form>
</body>
</html>